nav ul li{
    list-style: none;
    height: 50px;
    display: inline;
    margin-left: 80px;
    border-radius: 10px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}

.button{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}
.hello{
    text-align: center;
    border-radius: 50px;
    color: rgb(58, 38, 11);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.head{
    text-align: center;
}
nav ul li a{
    text-decoration: none;
    color: white;
    transition: all;
}

.nav{
    border: black solid 1px;
    height: 100px;
    background-image: url(https://i.pinimg.com/474x/b0/7a/c5/b07ac593f50e56ba79a8c74d521ffd62.jpg);
}
body{
    background-color: rgb(212, 195, 170);
   
}
.transition-image{
    border: black solid 1px;
    height: 500px;
    width: 330px;
    opacity: 1;
    transition: all;
    transition-duration: 0.2s;
}
.transition-image:hover{
    opacity: 0.5;
}
